<section class="header">
    <div class="header-title">
        <h2>nova admissão cooperado</h2>
        <ul class="bread-crumb-list">
            <li class="bread-crumb-item">Cadastro</li>
            <li class="bread-crumb-item"><span class="bread-crumb-divider">/</span> Admissão de Cooperado</li>
            <li class="bread-crumb-item"><span class="bread-crumb-divider">/</span> Nova Admissão de Cooperado</li>
        </ul>
    </div>

    <div class="header-config">
        <div class="icon-bell-container">
            <span class="icon-bell-alert">7</span>
            <fa-icon [icon]="faBell"></fa-icon>
        </div>
        <div>
            <button class="bt-header">viacredi</button>
        </div>
        
        <picture>
            <img class="logo-user" src="../../../assets/images/User.png" alt="">
            <fa-icon [icon]="faCog" class="icon-settings"></fa-icon>
        </picture>
    </div>
</section>
