@import "../variables.scss";

.main{
    position: relative;
    .main-header{
        position: absolute;
        top: 0;
        left: 100px;
        width: calc(100% - 130px);
        height: 50px;
        padding: 15px;
    }
    .main-menu{
        background-color: $primary-color;
        padding: 15px;
        position: absolute;
        left: 0;
        z-index: 999;
        min-height: calc(100vh - 30px);
        width: 70px;
        transition: all 0.5s ease-in-out;
    }
    .main-content{
        background-color: $ailos-scale-grey-1-color;
        position: absolute;
        top: 80px;
        left: 100px;
        width: calc(100% - 130px);
        padding: 15px;
        height: calc( 100vh - 110px);
        
    }
    .main-menu.isOpen{
        width: 300px;
        z-index: 9999;
    }
}