
// primary colors
$primary-color: rgb(22, 92, 125);
$secondary-color: rgb(255, 163, 0);

// complementary colors
$ailos-blue-color: rgb(0, 158, 208);
$ailos-green-color: rgb(0, 194, 70);
$ailos-middle-blue-color: rgb(0, 125, 138);

//criticality scale colors
$ailos-scale-red-color: rgb(193, 48, 24);
$ailos-scale-orange-color: rgb(255, 163, 0);
$ailos-scale-yellow-color: rgb(252, 214, 16);
$ailos-scale-green-color: rgb(0, 194, 70);
$ailos-scale-blue-color: rgb(0, 158, 208);

//grey scale colors
$ailos-scale-black-color: rgb(4, 15, 20);
$ailos-scale-grey-4-color: rgb(136, 148, 153);
$ailos-scale-grey-3-color: rgb(167, 176, 181);
$ailos-scale-grey-2-color: rgb(198, 206, 209);
$ailos-scale-grey-1-color: rgb(231, 238, 241);

$menu-icon: white;
$btn-text-color: white;
    